body {
  background-color:black;
}

h1 {
  color: white;
}

img {
  width: 50%;
  height: 50%;
  float:right;
}

#map {
  margin-top:200px;
  margin-left: 100px;
  height: 180px;
}

.database {
  color: white;
  margin-left:100px;
}
